@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
  --line-border-empty: rgb(134, 85, 248);
  --line-border-fill: rgb(190, 231, 250);
}

* {
  box-sizing: border-box;
}
body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95vh;
  overflow: hidden;
  margin: 0;
  background: linear-gradient(
    90deg,
    rgba(93, 0, 20, 0.8085434857536764) 0%,
    rgba(116, 15, 208, 0.8701681356136204) 34%,
    rgba(143, 3, 187, 1) 100%
  );
}

.container {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.5s ease-in;
}

.panel h2 {
  font-size: 34px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h2 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

.slider,
.btns {
  text-align: center;
  display: flex;
  justify-content: center;
}

.slider-container,
.btns-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 10px;
  max-width: 100%;
  width: 30vw;
}

.btns-container {
  width: 200px;
}

.position {
  background-color: var(--line-border-fill);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 50%;
  z-index: -1;
  transition: 0.4s ease;
}

.slider-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.dot {
  background-color: var(--line-border-empty);
  color: #000;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid var(--line-border-empty);
}

.dot.active {
  border-color: var(--line-border-fill);
  color: #fff;
}

.btn {
  background-color: var(--line-border-fill);
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  padding: 4px 30px;
  margin: 4px;
  font-size: 12px;
  font-weight: bold;
}

.btn:active {
  transform: scale(0.95);
}
.btn:focus {
  outline: 0;
}
.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}
